.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-center {
    text-align:center!important;
  }

.garage {
  background-image: url("../img/all-garage-icons.png");
  margin: auto;
  display:block;
  width:64px;
  height:64px;
  background-size:400%;
}

.open-garage{
  background-position: -122px -0px;
}

.close-garage{
  background-position: 2px -0px;
}

.sprinkler {
  margin: auto;
  display:block;
  width:64px;
  height:64px;
  background-size:100%;
}

.on-sprinkler{
  background-image: url("../img/sprinkler_on.gif");
}

.off-sprinkler{
  background-image: url("../img/sprinkler.png");
}


.navigate {
  cursor: pointer;
}

.dontshow {
  display: none;
}